#  MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

#rabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=


#  Notes 
# Copy this file to .env and fill in the values
# firebase-service-account.json must be placed at the repo root
# Get Firebase config from: Firebase Console → Project Settings → Your Apps
# Get Atlas URI from: Atlas → your cluster → Connect → Drivers